/*@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/notosans.woff") format("woff"),
        url("../fonts/notosans.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.ttf") format("truetype");
}*/

* {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #F5F5F5;
    color: #797979;
}

.main {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
}

.block {
    position: relative;
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    width: 60%;
}

/*MODALS CSS*/

.terms-of-use .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    overflow-y: auto;
    padding: 5rem;
}

.terms-of-use .modal.modal__shown {
    display: flex;
}

.terms-of-use .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.terms-of-use .modal-container {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    min-width: 40rem;
    height: max-content;
    background-color: #F5F5F5;
}

.terms-of-use .modal__slim .modal-container {
    min-width: 25rem;
}

.terms-of-use .modal-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: -1rem;
    top: -1rem;
    cursor: pointer;
    background-color: #CACACA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms-of-use .modal-close::before,
.terms-of-use .modal-close::after {
    content: '';
    position: absolute;
    width: .75rem;
    height: 2px;
    background-color: #404040;
}

.terms-of-use .modal-close::after {
    transform: rotate(45deg);
}

.terms-of-use .modal-close::before {
    transform: rotate(-45deg);
}

.terms-of-use .modal-header {
	background: #009F9B;
	color: white;

    padding: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    /*font-weight: bold;*/
}

.terms-of-use .modal-logo {
    padding-top: 2rem;
    display: inline-block;
}

.terms-of-use .modal-logo img {
    height: 7rem;
}

.terms-of-use .modal-content {
    padding: 1rem 3rem;
}

.terms-of-use .modal-content .table {
    border-collapse: collapse;
    margin-bottom: 2rem;
}

.terms-of-use .modal-content .table th {
    background: #009F9B;
    color: white;
    padding: 8px;
    text-align: left;
    max-width: 15rem;
}

.terms-of-use .modal-content .table tr td {
    max-width: 15rem;
    padding: .3rem 1rem;
}

.terms-of-use .modal-content .table tr td:first-child {
    border-left: 1px solid #CACACA;
}

.terms-of-use .modal-content .table tr td:last-child {
    border-right: 1px solid #CACACA;
}

.terms-of-use .modal-content .table tr:nth-child(even) td {
    background: #CACACA;
}

.terms-of-use .modal-content .table tr:last-child td {
    border-bottom: 1px solid #CACACA;
}

.terms-of-use .modal-content .table .remove {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FE0835;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.terms-of-use .modal-content .table .remove::before,
.terms-of-use .modal-content .table .remove::after {
    content: '';
    width: .75rem;
    height: 2px;
    position: absolute;
    background-color: white;
}

.terms-of-use .modal-content .table .remove::before {
    transform: rotate(45deg);
}

.terms-of-use .modal-content .table .remove::after {
    transform: rotate(-45deg);
}

.terms-of-use .modal-content .table .remove:focus {
    outline: none;
}

.terms-of-use .modal-notification {
    width: 27rem;
    line-height: 1.5rem;
    padding: 0 2rem 3rem 2rem;
}

.terms-of-use .modal-footer {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 3rem 1rem;
}

/*END OF MODALS*/

/*NEW MODALS*/

.terms-of-use .modal-license{
	overflow: scroll;
	overflow-wrap: break-word;
	word-break: break-word;
	width: inherit;
	max-width: 40rem;
	height: 20rem;
    line-height: 1.5rem;
    padding: 3rem 2rem 3rem 2rem;
    margin: 1rem 0rem 2rem 0rem; 
}

.terms-of-use .row {
    display: flex;
}

.terms-of-use .row .form-group:not(:last-of-type) {
    padding-right: 1.5rem
}

.terms-of-use .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.3rem;
    min-width: 18rem;
}

.terms-of-use .form-group * {
    color: #979797;
}

.terms-of-use .form-group.form-group__error {
    padding-bottom: .3rem;
}

.terms-of-use .form-label {
    padding: .3rem 0;
    font-size: .9rem;    
}

.terms-of-use .form-control {
    padding: .5rem 1rem;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
    background: transparent;
}

.terms-of-use textarea.form-control {
    min-height: 7rem;
}

.terms-of-use .form-error {
    font-size: .8rem;    
    color: red;
    line-height: 1rem;
    display: none;
}

/*CHECKBOXES*/

.terms-of-use .form-group__error .form-error {
    display: block;
}

.terms-of-use .form-group.form-group__checkbox {
    flex-direction: row;
    align-items: center;
}

.terms-of-use .form-group.form-group__checkbox input {
    display: none;
}

.terms-of-use .form-group.form-group__checkbox .form-check {
    width: 1rem;
    height: 1rem;
    background-color: #359BE0;
    padding: .2rem;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.terms-of-use .form-group.form-group__checkbox .form-check img {
    width: 100%;
    height: 100%;
    display: none;
}

.terms-of-use .form-group.form-group__checkbox input:checked + .form-check img {
    display: block;
}

.terms-of-use .form-group.form-group__checkbox .form-label {
    padding: 0 .5rem;
}

.terms-of-use .send-button {
    background: #009C9B;
    border-radius: 3px;
    padding: 14px 45px;
    display: inline-flex;
    width: max-content;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;
}

.terms-of-use .send-button-label {
    color: #FFFFFF;
    font-size: 1rem;
    width: 90%;
    margin: 0;
    cursor: pointer;
    padding-right: 1rem;
}

.terms-of-use .send-button-label:last-child {
    padding-right: 0;
}

.terms-of-use .send-button-arrow {
    background: #fff;
    height: 2px;
    width: 20px;
    margin: 0 auto;
    position: relative;
}
.terms-of-use .send-button-arrow:after,
.terms-of-use .send-button-arrow:before {
    content: "";
    background: #fff;
    position: absolute;
    height: 2px;
    width: 12px;
}
.terms-of-use .send-button-arrow:before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
}
.terms-of-use .send-button-arrow:after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
}

.terms-of-use-block {
    display: flex;
    padding-bottom: 100px;
}
.terms-of-use-left {
    width: 70%;
    padding-right: 1rem;
    flex-shrink: 0;
}
.terms-of-use-right {
    width: 100%;
    border-radius: 5px;
}

/*STEP NUMBER*/

.terms-of-use .step-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #009193;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    flex-shrink: 0;
}

.terms-of-use .step-name {
    color: #5E5E5E;
    font-size: 2rem;
    text-transform: uppercase;
    padding-left: .5em;
    line-height: 2.1rem;
    font-weight: bold;
    
    display: inline-block;
    float: none;
}

.terms-of-use .step-header{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;    
}

.terms-of-use .container-block-header{
    background-color: rgb(0, 164, 158);
    color: white;
    padding: 10px 10px 10px 20px;
    font-size: 1.3rem;
    text-align: center;
}

.terms-of-use .instruction-content {
    padding: 1rem 3rem;
    border: 1px solid grey;
}

.terms-of-use .instruction-text{
    overflow: scroll;
    overflow-wrap: break-word;
    word-break: break-word;
    width: inherit;
    height: 20rem;
    line-height: 1.5rem;
    margin: 1rem 0rem 2rem 0rem;
}

.terms-of-use .text_block{
    border: 1px solid grey;
    padding: 20px;
}




.test_header1{
    float: none;
    display: block;
    margin: 0 auto;
    font-size: 18pt;
    padding: 10px;
    /* margin-left: auto; margin-right: auto; */
}

.test_buttons{
	border: none;
	background-color: rgb(82, 181, 182);
	color: white;
	font-weight: bold;
	padding: 15px 40px;
	font-size: 14pt;
	border-radius: 0px;
	margin: 20px 30px;

	float: none;
    display: block;
    margin: 0 auto;
}

.test_buttons_start{
	border: none;
	background-color: rgb(0, 164, 158);
	color: white;
	font-weight: bold;
	padding: 15px 40px;
	font-size: 14pt;
	border-radius: 0px;
	margin:20px 30px;

	float: none;
    display: block;
    margin: 10px auto;
}

.center_buttons{
	float: none;
    display: block;
    margin: 10px auto;	
}

.button_container{
	  position: relative;
}

.button_row{
	padding: 10px;
	margin: 50px 0 50px 0;
}

.second_test_heading_img{
	float: none;
    display: block;
    margin: 10px 10px auto auto;	
	height: 50px;
}

.second_test_heading_text{
	font-size: 28pt;
	color: grey;
	float: none;
    display: block;
    margin: 10px auto auto auto;
}

.second_test_heading{
	margin: 20px auto;
}

.second_test_description{
	text-align: center;
	float: none;
    display: block;
    margin: 0 auto;
    font-size: 18pt;
    padding: 10px;
}

.second_test_description_paragraph{
	display: inline-block;
}

.second_test_img_headings{
    font-size: 18pt;
    color: rgb(82, 181, 182);
    font-weight: bold;
    text-decoration: underline;
}

.second_test_imgs{
	max-height: 250px;
	max-width: 500px;
}

.test_button_video{
	border: none;
	color: white;
	font-weight: bold;
	padding: 15px 40px;
	font-size: 14pt;
	border-radius: 0px;
	/*margin:20px 30px;*/

	float: none;
    display: block;
    margin: 10px auto;
	background-color: #ffd043;
}

.second_test_img_name{
	font-size: 16pt;
	padding: 20px 0;
}

.test_buttons_test{
	border: none;
	background-color: rgb(0, 164, 158);
	color: white;
	font-weight: bold;
	padding: 15px 40px;
	font-size: 14pt;
	border-radius: 0px;
	/*margin:20px 30px;*/

	float: none;
    display: block;
    margin: 10px auto;
}

.button_container_last{
	position: relative;
}

.button_row_test{
	margin: 10px auto;
	float: none;
    display: block;
}

.button_row_test_main{
	margin: auto;
	max-height: 250px;
	max-width: 500px;
}
